* {
font-family: 'Bad Script', cursive;

}

p{
    color:#235367;
}

h1, h2, h3{
    background:bisque;
    color: dimgray;
}

.ch1 {
    background: lightblue;
}

.ch2 {
    background:orange;
}

.ch3 {
    background:#f27;
}

img{
        border:3px solid lawngreen;
}
table{
    border:5px dotted gray;
    border-collapse: collapse;
}

footer{
    background:wheat;
}

thead{
    color:black;
}

table th, td{
    border:5px solid gray; 
}

blockquote {
    text-align:center;
    background: lightcyan;
}

pre{
    background:lightskyblue;
}

ul{
    color:red;  
}